body{
    background-color:#fff;
    color:#000;
    font-family:Arial;
    margin:0px;padding:0px;
    overflow: hidden;
}

canvas#canvas{
    border: 1px dotted #f06;
    margin-left: 0px;
}

/* Prevent copy paste for all elements except text fields */
*  { 
    -webkit-user-select:none; 
    -webkit-tap-highlight-color:rgba(255, 255, 255, 0); 
}

input, textarea  { 
    -webkit-user-select:text; 
}

#next_shape {
    position: relative; 
    background-color: #000; 
    border: 1px solid white;
    width: 110px; 
    height: 110px;
}
#info {
    background-color: #000; 
    color: #fff; 
    width: 110px; 
    height: 420px; 
    padding: 10px;
    float: left;
}