canvas#canvas{
    border: 1px dotted #f06;
    margin-left: 100px;
}

canvas#fps{
    width: 250px;
    height: 50px;

    float: left;

    overflow-x: hidden;
    overflow-y: auto;

    background-color: #000;
    color: #fff;
}

div#output{
    width: 250px;
    height: 150px;

    float: left;

    overflow-x: hidden;
    overflow-y: auto;

    background-color: #000;
    color: #fff;
}