body{
            background-color:#fff;
        color:#000;
        font-family:Arial;
        margin:0px;padding:0px;
    overflow: hidden;
}

canvas#canvas{
    border: 1px dotted #f06;
    margin-left: 0px;
}

/* Prevent copy paste for all elements except text fields */
*  { 
    -webkit-user-select:none; 
    -webkit-tap-highlight-color:rgba(255, 255, 255, 0); 
}

input, textarea  { 
    -webkit-user-select:text; 
}